<script type="text/ejs" id="questionFormpresenter">
<div id="question-form-presenter" class="control">
    <div id="question-form-subcontainer">
        <div id="question-form-left">
            <div id="question-form-left-up">
               
                <input class="input" type="password" id="question_password_input" name="password" placeholder="Password"/>
            </div>
            <div id="question-form-textarea">
                <textarea class="textarea" name="question" placeholder="Insert question"></textarea>
            </div>
        </div>
        <div id="question-form-down">
            <div id="question-form-presenter-slidenumber-wrapper">
                <div id="question-form-presenter-slidenumber">
                    <input class="checkbox" type="checkbox" name="current_slide">Slide property
                </div>
            </div>
            <div id="question-form-submit">
                <a class="button is-primary" id="question-submit-btn-presenter">
                    Submit
                </a>
            </div>
        </div>
    </div>
</form>


</script>


