<script type="text/ejs" id="script-face">

  <div id="container-face">
    <h3 id="mouth-info"></h3>
    <div id="content">
      <video id="videoel" height="300px" width="400px" preload="auto" loop></video>
      <canvas id="overlay" height="300px" width="400px"></canvas>
    </div>
  </div>
</script>
