<script type="text/ejs" id="script-result">
  <div id="results">
    <p class="final" id="final_span"></p> <p class="interim" id="interim_span"></p>
  </div>
  <div id="tooltip-results">
  </div>
</script>
