.feedback-speed-container, .feedback-volume-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    margin: 0px 10px;
}

#feedback-subcontainer {
    margin: 10px;
    display: flex;
    flex-direction: row;
}

.feedback-icon {
    width: 50px;
    height: 50px;
    margin: 15px;
}

.feedback-btn-container {
    display: flex;
    flex-direction: column;
}

.feedback-volume, .feedback-speed {
    flex: 1;
    margin: 5px;
}

.feedback-num-container {
    display: flex;
    flex-direction: column;
}

.feedback-num {
    flex: 1;
    margin: 5px;
    color: #3273dc;
    border-radius: 2px;
    padding: 5px;
    text-overflow: ellipsis;
    white-space: nowrap;
    transition: color 0.5s, background-color 0.5s;

    &:hover, &.is-focus {
        color: white;
        background-color: #3273dc;
        transition: color 0s, background-color 0s;
    }
}